 
  	<div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="fa fa-fire" style="font-size:30px; color:#3498db;"></span>
          </button>
          <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="fa fa-fire" style="font-size:18px; color:#3498db;"></span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#home" class="smoothScroll">Home</a></li>
			<li> <a href="#about" class="smoothScroll"> About</a></li>
			<li> <a href="#services" class="smoothScroll"> Services</a></li>
			<li> <a href="#portfolio" class="smoothScroll"> Portfolio</a></li>
			<li> <a href="#contact" class="smoothScroll"> Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>

  
  
		<!-- ==== HEADERWRAP ==== -->
	    <div id="headerwrap" id="home" name="home">
			<header class="clearfix">
        <h1>Firestorm </h1><p>Systems</p>
	  		</header>	    
	    </div><!-- /headerwrap -->

		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="row">
				<div class="col-lg-4 callout">
					<span class="fa fa-bolt"></span>
					<h2>Rails 4</h2>
					<p>Applications built on the latest version of one of the fastest growing development platforms, dynamic and ready to meet your software needs. </p>
				</div><!-- col-lg-4 -->
					
				<div class="col-lg-4 callout">
					<span class="icon icon-stack"></span>
					<h2>Bootstrap 3</h2>
					<p>Designed with Bootstrap version 3. Fast, flexible design at home or on the go. Let us make sure your application looks good on any platform. </p>
				</div><!-- col-lg-4 -->	
				
				<div class="col-lg-4 callout">
					<span class="fa fa-cloud"></span>
					<h2>Cloud Ready</h2>
					<p>Sites built ready to be in the cloud. Have us upload your new site or application to the cloud, wherever yours may be.   </p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->
		
		<!-- ==== ABOUT ==== -->
		<div class="container" id="about" name="about">
			<div class="row white">
			<br>
				<h1 class="centered">A LITTLE ABOUT FIRESTORM SYSTEMS</h1>
				<hr>
				
				<div class="col-lg-6">
					<p>Firestorm Systems loves to create engaging and exciting websites for the future of the web. We believe in doing things right the first time, every time, to really let the best talent shine through. We put our best into each product we launch and each page we create, making your product, and the internet, a better place for all. As we see it, if all companies take their time and deliver an outstanding product without cutting corners, without taking shortcuts, and without skipping steps we'll all have a very bright future ahead of us.</p>
				</div><!-- col-lg-6 -->
				
				<div class="col-lg-6">
					<p>We believe in our employees and what they do. Education, exploration, and entertainment are part of an engaging and thought provoking work environment and we strive to bring that to light. When a member of the team comes to us with an idea to help improve a project, we think its always important to listen and take it seriously. Sometimes these unexpected ideas can blossom into the wonderful services everyone enjoys today across the web. So when you're looking for someone for your next web based project, no matter the size, remember to Educate, explore, and entertain the Firestorm way and you'll be on your way to a great new site.</p>
				</div><!-- col-lg-6 -->
			</div><!-- row -->
		</div><!-- container -->
		
		<!-- ==== SECTION DIVIDER1 -->
		<section class="section-divider textdivider divider1">
			<div class="container">
				<h1>DESIGN EXPAND BOUNDARIES</h1>
				<hr>
				<p>To achieve real change, we have to expand boundaries. Because the Wild West of what-could-be is unexplored but rife with opportunity.</p>
			</div><!-- container -->
		</section><!-- section -->
		
		
		<!-- ==== SERVICES ==== -->
		<div class="container" id="services" name="services">
			<br>
			<br>
			<div class="row">
				<h2 class="centered">ONE BRAND, ONE VOICE.</h2>
				<hr>
				<br>
				<div class="col-lg-offset-2 col-lg-8">
					<p>Employees and consumers. Two halves of a brand’s entirety, the whole of a brand’s audience. Sometimes these two halves have very different viewpoints, creating a weak spot in the brand story. Weakness tarnishes credibility. Brands that aren’t credible aren’t viable.
					</p>
					<p>We squash weakness by designing the whole brand story. It’s crafted around the truism held by employees and consumers to create an experience that connects from the inside out.</p>
					<p>By being true to the brand we represent, we elevate the audiences’ relationship to it. Like becomes love becomes a passion. Passion becomes advocacy. And we see the brand blossom from within, creating a whole story the audience embraces. That’s when the brand can truly flex its muscles.</p>
				</div><!-- col-lg -->
			</div><!-- row -->
			
			<div class="row">
				<h2 class="centered">MOBILE FIRST THINKING, ALWAYS.</h2>
				<hr>
				<br>
				<div class="col-lg-offset-2 col-lg-8">
          <%= image_tag "iphone.png", class: 'img-responsive' %>
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
  		

		<!-- ==== SECTION DIVIDER2 -->
		<section class="section-divider textdivider divider2">
			<div class="container">
				<h1>DESIGN IS AN INTERACTION</h1>
				<hr>
				<p>To develop a deeper and more meaningful connection with consumers, we believe design must invite them to take part in the conversation.</p>
			</div><!-- container -->
		</section><!-- section -->

		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 centered">
            <%= image_tag "macbook.png", class: 'img-responsive', style: 'align: ;' %>
					</div>
					<div class="col-lg-4">
						<h2>Fast and dynamic</h2>
						<p>We create sites and applications that run fast, dymanically grow with your business, and expand easily with your userbase.</p>
						<p><a href="mailto:ccnppro@yahoo.com" class="btn btn-success">Contact Us</a></p>
					</div>					
				</div><!-- row -->
			</div>
			<br>
			<br>
		</div><!-- greywrap -->
		
		<!-- ==== SECTION DIVIDER3 -->
		<section class="section-divider textdivider divider3">
			<div class="container">
				<h1>DESIGN SOLVE PROBLEMS</h1>
				<hr>
				<p>From the purely practical to the richly philosophical, design is the solution to a host of challenges.</p>
			</div><!-- container -->
		</section><!-- section -->
		
		<!-- ==== PORTFOLIO ==== -->
		<div class="container" id="portfolio" name="portfolio">
		<br>
			<div class="row">
				<br>
			<br>
				<h1 class="centered">WE CREATE COOL STUFF</h1>
				<hr>
				<br>
			</div><!-- /row -->
			<div class="container">
			<div class="row">	
			
			<br>
			<br>
				<!-- PORTFOLIO IMAGE 1 -->
				<div class="col-md-4 ">
			    	<div class="grid mask">
						<figure>
              <%= image_tag "portfolio/scriptwithmehomepage.png", class: 'img-responsive' %>
							<figcaption>
								<h5>SCRIPTWITH.ME</h5>
								<a data-toggle="modal" href="#scriptwith" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
						      
						  <div class="modal fade" id="scriptwith" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Scriptwith.me</h4>
						        </div>
						        <div class="modal-body">
                      <p><%= image_tag "portfolio/scriptwithmehomepage.png", class: 'img-responsive' %></p>
						          <p>Scriptwith.me was crafted by Firestorm Systems and CCNP Pro to demonstrate the power of live interation between two individuals to create wonderful stories in realtime. Leveraging technologies like Ruby on Rails, JQuery, Faye, HTML5, and CSS3 to deliver a seamless experience.</p>
						          <p><b><a href="http://scriptwith.me">Visit Site</a></b></p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->
				
				
				<!-- PORTFOLIO IMAGE 2 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
              <%= image_tag "portfolio/liveposthomepage.png", class: 'img-responsive' %>
							<figcaption>
								<h5>LIVEPOST.IO</h5>
								<a data-toggle="modal" href="#livepost" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
				
        						  <div class="modal fade" id="livepost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Livepost.io</h4>
						        </div>
						        <div class="modal-body">
                      <p><%= image_tag "portfolio/liveposthomepage.png", class: 'img-responsive' %></p>
						          <p>Livepost.io was created to feature the fexibility of Ruby on Rails when tied to Faye and Private_pub, two very powerful instant communication tools. Livepost features things like instant chat, user generated rooms, and private rooms between groups all with rails and jquery.</p>
						          <p><b><a href="http://livepost.io">Visit Site</a></b></p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->
        
        
        
				<!-- PORTFOLIO IMAGE 3 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
              <%= image_tag "portfolio/weddingsitehomepage.png", class: 'img-responsive' %>
							<figcaption>
								<h5>WEDDING WEBSITE</h5>
								<a data-toggle="modal" href="#weddingsite" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
			</div><!-- /row -->

                						  <div class="modal fade" id="weddingsite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Swiftrickertwedding.com</h4>
						        </div>
						        <div class="modal-body">
                      <p><%= image_tag "portfolio/weddingsitehomepage.png", class: 'img-responsive' %></p>
						          <p>Showing off slick CSS3 animations and smooth HTML5 features, this wedding website demonstrates the creative potential of Firestorm Systems.</p>
						          <p><b><a href="http://swiftrickertwedding.com">Visit Site</a></b></p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->
        

			<br>
			<br>
			<br>
			<br>
		</div><!-- /row -->
	</div><!-- /container -->

		<!-- ==== SECTION DIVIDER6 ==== -->
		<section class="section-divider textdivider divider6">
			<div class="container">
				<h1>CRAFTED IN NEW JERSEY, USA.</h1>
				<hr>
        <br>
				<p><a class="icon icon-twitter" href="http://twitter.com/ccnppro"></a> | <a class="icon icon-envelop" href="mailto: ccnppro@yahoo.com"></a></p>
			</div><!-- container -->
		</section><!-- section -->
		
		<div class="container" id="contact" name="contact">
			<div class="row">
			<br>
				<h1 class="centered">THANKS FOR VISITING US</h1>
				<hr>
				<br>
				<br>
				
				<div class="col-lg-6 col-lg-offset-1">
					<h3>Support Us</h3>
					<p>Do you believe in doing things right the first time? Do you think education, exploration, and entertainment are critical components for developers and clients alike? If so, consider helping our group grow by tweeting or emailing right now!</p>
				</div><!-- col -->
        
        <div class="col-lg-4 col-lg-offset-1">
					<h3>Contact Information</h3>
          <span class="icon icon-envelop"></span> <a href="mailto: ccnppro@yahoo.com"> ccnppro@yahoo.com</a> <br/>
          <span class="icon icon-twitter"></span> <a href="http://twitter.com/ccnppro"> @ccnppro </a> <br/>
						<span class="icon icon-facebook"></span> <a href="#"> CCNP Pro </a> <br/>
				</div><!-- col -->

			</div><!-- row -->
		
		</div><!-- container -->

		<div id="footerwrap">
			<div class="container">
				<h4>Created by <a href="http://firestormsystems.com">Firestorm Systems</a> - Copyright 2014</h4>
			</div>
		</div>